language: objective-c
osx_image: xcode11.2
sudo: required
before_install:
  - export LANG=en_US.UTF-8
env:  
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
    - RUN_TESTS="YES"
    - BUILD_EXAMPLE="YES"
    - POD_LINT="NO"
  matrix:
    - DESTINATION="OS=13.2,name=iPhone 8 Plus"
script:
  - Scripts/travis-ci.sh
